@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-var.woff2") format("woff2");
  font-weight: 100 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
label {
  font-family: "Geist", sans-serif;
}
